.gridsquare {
	border: 1px solid black;
	float: left;
	display: block;
	width: 15px;
	height: 15px;
}

.snakehead {
	background-color: green;
}

.snakebody {
	background-color: green;
}

.food {
	background-color: yellow;
}

.gridrow {
  clear: left;
}
