.gridsquare {
	border: 1px solid black;
	float: left;
	display: block;
	width: 15px;
	height: 15px;
}

.snakehead {
	background-color:  #145a32;
}

.snakebody {
	background-color:  #7dcea0;
}

.food {
	background-color: #f4d03f;
}

.gridrow {
  clear: left;
}
